
.navbar-pinterest a img{
    width: 30px;
    height: 30px;
    border-radius: 90px;
}


.navbar-pinterest {
   position: fixed;
   background-color: white;
   height: 50px;
   width: 100vw;
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
   margin: 0;
    padding:20px;
    margin-bottom: 50px

    box-sizing: border-box;
    z-index: 3;
}
.navbar-pinterest{

    display: flex;
    align-items: center;
    margin-inline: 10px;
    
    padding: 20px;
}

.navbar-pinterest #logo a{
    
    width: 10vw;

}
.navbar-pinterest .navegar a{
   position: relative;
    width: 40vw;
    left: 30px;
    
}

 

.navbar-pinterest .navegar a{

    
    color: black;
    font-size: medium;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 5px;
    text-decoration: none;

    
}
.navbar-pinterest .navegar a:hover{
    background-color: black;
    border-radius: 30px;
    color: white;
    text-align: center;
    height: 60px;
    padding: 5px;
}


    
 

 


input{
  
    color:black;
    outline: none;
    box-sizing: border-box;
    border-radius: 50px;
   
    border: none;
    background-color: #e9e9e9;
    height: 50px;
    text-align: left 30px;
    text-size-adjust: 10px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 

}

input{
    position: relative;
    width: 60vw;
    left: 70px;
 

   


}

.navbar-pinterest .icon-nav a{

text-decoration: none;
margin-inline: 5px;
position: relative;
width: 10vw;
left: 100px;

}

    
body{
background: white;
    padding: 0;
    margin: 0;
    height: 250vh;
    width:100vw
    box-sizing: border-box;  
}
 .image-container{
    padding: 150px 50px 50px 50px;
       
    
 }
.image-container{
    display: inline-block;
    columns: 5;
    column-gap: 15px;


    }



.image-container .image-card{
    position: relative;
    border-bottom: 20px;
    padding-bottom: 5px;

    max-height: 600px;
}


.image-container .image-card img{
    width: 250px;
    max-height: 500px;
    border-radius: 30px;
    


}

.image-container .image-card .Guardar button{
    position: absolute;
    top: 10px;
    right: 20px;

    
}
.image-container .image-card .Guardar button{
    background-color: red;
  border: none;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 30px;
  position: unset, 30px;
  cursor: pointer;
  
  
}


.image-container .image-card .Perfil{
    position: absolute;
    top: 10px;
    left: 20px;

}
.image-container .image-card .Perfil button{
    background: none;
    color: white;
    border: none;
    font-size: medium;
    font-weight: 400;

}

    

.image-container .image-card .footer img{
    height: 30px;
    width: 30px;
}

.image-container .image-card .footer{
    font-size: small;

}

.image-container .image-card .footer{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 10px;
    
}

